html {
    font-size: 20px;
}

body {
    background-color: #f5f5f5;
}

.main-content {
    background-color: #ffffff;
}

footer {
    background-color: #ffffff;
}

.container {
    max-width: 60%;
}

.fill {
    min-height: 82vh;
    margin-bottom: 3vh;
}

.about {
    padding-top: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
}

.forms {
    padding-top: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.profile {
    padding-top: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
}

.about-text {
    font-size: 20px;
}

.account-info {
    padding: 2vh;   
    width: 35vh;
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right: 3vh;
    background-color: #ffffff;
    border-radius: 15px;
}

.settings-section {
    margin-left: 6vh;
}

.avatar {
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    border: 2px solid;
}

.avatar-settings {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid;
}

.avatar-big {
    width: 30vh;
    height: 30vh;
    border-radius: 10px;
    border: 2px solid;
    margin-top: -15vh;
    background-color: white;
}

.profile-link:link {
    color: black;
    text-decoration: none;
}

.profile-link:visited {
    color: black;
}

.profile-link:hover {
    color: cornflowerblue;
    text-decoration: none;
}

.account-element {
    margin-left: 0.25vh;
}

.profile-list {
    margin-left: -2vh;
    margin-right: -2vh;
}

.rectangle {
    height: 15vh;
    background-color: #f5f5f5;
    margin-right: -5vh;
    margin-left: -5vh;
}

.bio-rectangle {
    margin-top: 5vh;
    border: solid 2px;
    padding: 1vh;
    border-radius: 15px;
    min-height: 20vh;
}

.bio-name {
    position: relative;
    left: 2.5em;
    bottom: 1.2em;
    background-color: white;
    font-size: 3vh;
}

.bio-text {
    margin-left: -3vh;
}

.email-confirm {
    font-size: 1.25em;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}