@using FedjazContest.Models.Settings
@model NewPasswordModel

@if(Model != null)
{
    <div class="forms">
        <h5 class="display-5 text-center">Create new password for your account</h5>
        <div class="row justify-content-center">
            <div class="col-4">
                <form method="post" asp-controller="Account" asp-action="SetNewPassword">
                    <label asp-for="Password">Password</label>
                    <input class="form-control" type="password" asp-for="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <label asp-for="PasswordConfirm">Confirm password</label>
                    <input class="form-control" type="password" asp-for="PasswordConfirm"/>
                    <input type="hidden" asp-for="Code" value="@Model.Code"/>
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    <button type="submit" class="btn btn-primary mt-2" style="float: right">Confirm</button>
                </form>
            </div>
        </div>
    </div>
}
