@using FedjazContest.Models.Settings
@model RestorePasswordModel

@if(Model != null)
{
    <div class="forms">
        <h5 class="display-5 text-center">Create new password for your account by email</h5>
        <div class="row justify-content-center">
            <div class="col-4">
                <form method="post" asp-controller="Account" asp-action="SendRestorePasswordEmail">
                    <label asp-for="Email">Email</label>
                    <input class="form-control" type="text" asp-for="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <button type="submit" class="btn btn-primary mt-2" style="float: right">Send email</button>
                </form>
            </div>
        </div>
    </div>
}
