@model AccountComponentModel

@if(Model != null){    <div class="position-fixed account-info">
    @if (!Model.IsLogged)
    {
        <h3 class="text-center">Login or Register</h3>
        <div class="d-grid gap-2 col-10 mx-auto">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</a>    
        </div>
    }
    else 
    {
        <img src=@Url.Action("GetAvatar", "Account") class="avatar"/>
        <br />
        <span>@($"{Model.ApplicationUser.FirstName} {Model.ApplicationUser.LastName}")</span>
        <br />
        <span class="text-muted">@Model.ApplicationUser.UserName</span>
        <ul class="list-group">
            <a asp-action="Home" class="list-group-item">Profile</a>
            <a asp-action="Home" class="list-group-item">Contests</a>
            <a asp-action="Home" class="list-group-item">Tasks</a>
            <a asp-action="Home" class="list-group-item">Attempts</a>
        </ul>
    }
    </div>
}