@model AccountComponentModel

@if(Model != null)
{
    <div class="position-fixed account-info">
    @if (!Model.IsLogged)
    {
        <h3 class="text-center">Login or Register</h3>
        <div class="d-grid gap-2 col-10 mx-auto">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</a>    
        </div>
    }
    else 
    {
        <img src=@Url.Action("GetAvatar", "Account") class="avatar account-element"/>
        <br />
        <span class="account-element">@($"{Model.ApplicationUser.FirstName} {Model.ApplicationUser.LastName}") </span>
        <br />
        <span class="text-muted account-element">@Model.ApplicationUser.UserName</span>
        <ul class="list-group list-group-flush profile-list">
            <li class="list-group-item">
                <a asp-controller="Account" asp-action="Index" class="profile-link"><i class="far fa-user fa-fw"></i> Profile</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Account" asp-action="Settings" class="profile-link"><i class="far fa-sun fa-fw"></i> Setings</a>
            </li>
            <li class="list-group-item">
                <a asp-action="Home" class="profile-link"><i class="far fa-clock fa-fw"></i> My Attempts</a>
            </li>
            <li class="list-group-item">
                <a asp-action="Home" class="profile-link"><i class="far fa-flag fa-fw"></i> My Contests</a>
            </li>
            <li class="list-group-item">
                <a asp-action="Home" class="profile-link"><i class="far fa-file-code fa-fw"></i> My Tasks</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Account" asp-action="Logout" class="profile-link"><i class="fa fa-user fa-fw"></i> Logout</a>
            </li>
        </ul>
    }
    </div>
}