@model AccountComponentModel

@if(Model != null)
{
    <div class="position-fixed account-info">
    @if (!Model.IsLogged)
    {
        <h3 class="text-center">Login or Register</h3>
        <div class="d-grid gap-2 col-10 mx-auto">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</a>    
        </div>
        
    }
    else 
    {

    }
    </div>
}