@using FedjazContest.Services
@inject ITaskEnvironmentProvider provider

<div class="about">
    <h4 class="display-6">About</h4>
    <span class="about-text">Fedjaz Contest is an interactive competitive programming testing system. It can be used for automatic testing 
        of user's solutions for computer science tasks. Each solution is running on set of tests, that checks if solution is valid for that task.
    </span>
    <h4 class="display-6 mt-4">Testing Process</h4>
    <span class="about-text">Each solution is compiled from source code, that user have submitted to testing system, and built into Docker image,
        that would be ran on all tests in task. 
    </span>
    <h4 class="display-6 mt-4">Verdicts</h4>
    <span class="about-text">After runnung tests, system gives one of the following verdicts to solution: 
    </span>
    <ul>
        <li><b>OK</b> - Solution is correct and successfully passed all tests.</li>
        <li><b>CE</b> - Compilation Error. Testing system received error from commpiler while trying to build your solution.</li>
        <li><b>WA</b> - Wrong Answer. Solution gave incorrect answer on one or more tests.</li>
        <li><b>TL</b> - Time Limit exceeded. Your solution failed to solve one or more tests in time, that set on each task.</li>
        <li><b>ML</b> - Memory Limit exceeded. Solution took to much memory to solve the problem.</li>
        <li><b>PE</b> - Presentation Error. Output of your solution haven't matched pattern of the answer.</li>
    </ul>
    <h4 class="display-6 mt-4">Compilers</h4>
    <span class="about-text">In the current version you can submit solutions on the following programming languages: 
    </span>
    <ul >
        @foreach(CompilerInfo info in provider.GetAvailableCompilers())
        {
            <li><b>@info.DisplayName (@string.Join(", ", info.Versions))</b> - @info.Description</li>
        }
    </ul>
</div>
